@{
    ViewData["Title"] = "Confirmation"; // "Confirmation" Page
}

<!--Display Success Message-->
<div class="text-center">
    <h1 class="display-4">Form Successfully Submited</h1>
    <a asp-area="" asp-controller="Home" asp-action="AddTask">Submit Another Response</a>
</div>