@{
    ViewData["Title"] = "Confirmation"; // "Confirmation" Page
}

<!--Display Success Message-->
<div class="text-center">
    <h1 class="display-4">Form Successfully Submited</h1>
    <a asp-controller="Home" asp-action="AddTask" class="btn btn-primary">Submit Another Response</a>
    <br />
    <a asp-controller="Home" asp-action="Quadrants" class="btn btn-primary">View All Tasks</a>
</div>