@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">The Four Quadrants of the To Do List</h1>
    <h2 class="display-4">According to Stephen Covey</h2>
    <br />
    <img src="~/img/covey.jpg" />
</div>
