@*
    Display Quadrant table of all of the entered data
*@
@{
    ViewData["Title"] = "Quadrant Page";
}
@*
    @model List<FormResponse>
    ViewBag Quadrant
*@


<div>
    <table class="table table-bordered table-striped">
        <thead class="font-weight-bold">
            <tr>
                <td>Task</td>
                <td>Due Date</td>
                <td>Category</td>
                <td>Completed</td>
            </tr>
        </thead>
    </table>
</div>

<div>
    <table class="table table-bordered table-striped">
        <thead class="font-weight-bold">
            <tr>
                <td>Task</td>
                <td>Due Date</td>
                <td>Category</td>
                <td>Completed</td>
            </tr>
        </thead>
    </table>
</div>

<div>
    <table class="table table-bordered table-striped">
        <thead class="font-weight-bold">
            <tr>
                <td>Task</td>
                <td>Due Date</td>
                <td>Category</td>
                <td>Completed</td>
            </tr>
        </thead>
    </table>
</div>

<div>
    <table class="table table-bordered table-striped">
        <thead class="font-weight-bold">
            <tr>
                <td>Task</td>
                <td>Due Date</td>
                <td>Category</td>
                <td>Completed</td>
            </tr>
        </thead>
    </table>
</div>

